<div style="text-align:center" class="cotainer mt-5">
    <h1>Create Task</h1>
<form #taskform="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="task">
        
    <div>
        <p>
            <label for="taskName">Task Name : </label>
            <input type="text" name ="taskName" [(ngModel)]="createTask.name" required>
        </p>
    </div>

    <div>
        <p>
            <label for="priority">Priority : </label>
            <input type="radio" value="1" name ="priority" [(ngModel)]="createTask.priority" required> 1
            <input type="radio" value="2" name ="priority" [(ngModel)]="createTask.priority" required> 2
            <input type="radio" value="3" name ="priority" [(ngModel)]="createTask.priority" required> 3
        </p>
    </div>

    <div>
      <p>
        <label for="status">Status : </label>
        <select id="status" name="status" [(ngModel)]="createTask.status" required>
        <option value="notstarted">Not Started</option>
        <option value="InProgress">In Progress</option>
        <option value="completed">Completed</option>
        </select>
      </p>
    </div>
        <button type="submit" [disabled]="!taskform.valid">Add Task </button>
    </div>


    <div *ngIf="errorMessage" style="color: red; font-weight: bold;">
        {{ errorMessage }}
    </div>
    <p *ngIf="successMessage" style="color: green; font-weight: bold;">
        {{ successMessage }}
      </p>
</form>
</div>