<div class="task-list">
    <h2>Tasks List</h2>
    <table>
        <thead>
            <tr>
            <th>Task Name</th>
            <th>Priority</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of listtask">
                <td>{{ task.name}}</td>
              <td>{{ task.priority}}</td>
              <td>{{ task.status }}</td>
            </tr>
          </tbody>
         
    </table>
    <div class="delete-task-container">
    <h2>Delete Task From The List</h2>
    <div>
      <label for="task">Task Name:</label>
      <select id="task" [(ngModel)]="selectedTask" name ="task" required>
        <option *ngFor="let task of listtask" [value]="task.name">{{ task.name }}</option>
      </select>
      <button (click)="onDelete()" [disabled]="!selectedTask">Delete</button>
    </div>
   </div>
   <br>
   <div *ngIf="errorMessage" class="alert alert-success mt-3">
    {{errorMessage}}
</div>

</div>